* {
    list-style: none;
}

.dateSign{
    width: 200px;
    height: 30px;
    background-color : #888;
    background : linear-gradient(-45deg, transparent 10px, #888 0) bottom right
               , linear-gradient(45deg, transparent 10px, #888 0) bottom left
               , linear-gradient(135deg, transparent 10px, #888 0) top left
               , linear-gradient(-135deg, transparent 10px, #888 0) top right;
    background-size : 50% 50%;
    background-repeat : no-repeat;
}